<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthwiki</title>
    <style>
        body{
            background-color: black;
        }
        img{
            margin-top: 30px;
            height: 50px;
        }
        #nav{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

    </style>
</head>
<body>
    <div id="nav">
        <img src="/static/img/healthwiki-high-resolution-logo-transparent (1).png" alt="">
    </div>
    <div id = "site">
            <iframe src="http://127.0.0.1:8000/" frameborder="0"></iframe>
    </div>
    
</body>
</html>